<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
         <link href="css/css.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="css/version/tech.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <div class="topheada">
            <div class="container">
                <div class="row ">

                    <div class="col-lg-12 ">

                    </div>
                </div>
            </div>
        </div>
        <header class="tech-header header">
            
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/version/tech-logo.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">صفحه نخست</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="category-08.html">خاطرات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="category-06.html">برنامه دولت کرامت</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="category-02.html">نماهنگ</a>
                            </li>
                            <li class="nav-item dropdown has-submenu ">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">شرح زندگی</a>
                                <ul class="dropdown-menu " aria-labelledby="dropdown01">
                                    <li>
                                        <a href="">زندگی نامه</a>
                                    </li>
                                    <li>
                                        <a href="#">تحصیلات</a>
                                    </li>
                                    <li>
                                        <a href="#">مسئولیت ها</a>
                                    </li>

                  
                                </ul>
                            </li>
                            <li class="nav-item dropdown has-submenu ">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">عکس ها</a>
                                <ul class="dropdown-menu " aria-labelledby="dropdown02">
                                    <li>
                                        <a href="Gallery.html">تصاویر</a>
                                    </li>
                                    <li>
                                        <a href="Gallery.html">پوستر</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown has-submenu ">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سخنرانی</a>
                                <ul class="dropdown-menu " aria-labelledby="dropdown03">
                                    <li>
                                        <a href="category-02.html">صوتی</a>
                                    </li>
                                    <li>
                                        <a href="category-02.html">تصویری</a>
                                    </li>
                                </ul>
                            </li>
                         
                          
                             
                            <li class="nav-item dropdown has-submenu ">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown11" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">صفحات</a>
                                <ul class="dropdown-menu " aria-labelledby="dropdown11">
                                    <li>
                                        <a href="category-01.html">لیست دو ستون راست</a>
                                    </li>
                                    <li>
                                        <a href="category-04.html">لیست سه ستون راست</a>
                                    </li>
                                    <li>
                                        <a href="category-06.html">لیست دو ستون چپ</a>
                                    </li>
                                    <li>
                                        <a href="category-07.html">لیست سه ستون چپ</a>
                                    </li>
                                    <li>
                                        <a href="category-05.html">لیست 4 ستون خالی</a>
                                    </li>
                                    <li>
                                        <a href="category-02.html">لیست ویدئو</a>
                                    </li>
                                    <li>
                                        <a href="category-03.html">لیست بررسی ها</a>
                                    </li>
                                    <li>
                                        <a href="category-08.html">اسلایدر و 4 ستون</a>
                                    </li>
                                    <li>
                                        <a href="Gallery.html">گالری تصاویر</a>
                                    </li>
                                    <li>
                                        <a href="mini.html">پیام های کوتاه</a>
                                    </li>
                                    <li>
                                        <a href="author.html">مطالب نویسنده</a>
                                    </li>
                                    <li>
                                        <a href="single.html">جزئیات پست</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">تماس با ما</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">پاسخ به شایعات</a>
                            </li>
                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">تماس با ما</a>
                                    </li>
                            

                                </ul>
                                <ul class="navbar-nav mr-2 sosos">
                                    <li class="nav-item">
                                        <a class="nav-link navicon" href="#"><i class="fa fa-rss"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link navicon" href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link navicon" href="#"><i class="fa fa-telegram"></i></a>
                                    </li>
                                </ul>
</div>
                </nav>
            
        </header><!-- end market-header -->


        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-info bg-green"></i> برنامه های دولت <small class="hidden-xs-down hidden-sm-down">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item"><a href="#">بلاگ</a></li>
                            <li class="breadcrumb-item active">برنامه های دولت</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section">
            <div class="container my-custom-container">
                <div class="row">
                    <!-- end col -->
                    
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper mainbox">
                            <div class="blog-grid-system">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_01.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_02.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_03.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_04.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_05.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_06.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_07.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_08.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_09.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_10.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_11.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="single.html" title="">
                                                    <img src="upload/tech_menu_12.jpg" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-green"><a href="category-01.html" title="">برنامه های دولت</a></span>
                                                <h4><a href="single.html" title="">تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای</a></h4>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت برنامه های دولتی نماینده محترم، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                </p>
                                                <small><a href="single.html" title="">12 فروردین 99</a></small>
                                                <small><a href="author.html" title="">به وسیله رضا یحیی</a></small>
                                                <small><a href="single.html" title=""><i class="fa fa-eye"></i> 259</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end blog-grid-system -->
                        </div><!-- end page-wrapper -->
                        <hr class="invis3">
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">صفحه بعد</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">


                            <div class="widget widgetbox">
                                <h2 class="lists_title">آخرین ویدئو ها</h2>
                                <div class="trend-videos">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="upload/tech_video_01.jpg" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="upload/tech_video_02.jpg" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="upload/tech_video_03.jpg" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end videos -->
                            </div><!-- end widget -->

                            <div class="widget widgetbox">
                                <h2 class="lists_title">بازدید های مهم</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="upload/tech_blog_08.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="upload/tech_blog_01.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="upload/tech_blog_03.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget widgetbox">
                                <h2 class="lists_title">آخرین نظرات</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="upload/tech_blog_02.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="upload/tech_blog_03.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="upload/tech_blog_07.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->



                            <div class="widget widgetbox">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

           <footer class="footer">
            <div class="container my-custom-container">
                <div class="row secfooter1">
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="widget">
                            <h2 class="widget-title">آنچه دیگران بیشتر خواندند
</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/tech_blog_08.jpg" alt="" class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <small>16 اسفند 99</small>
                                        </div>
                                    </a>
                                    <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/tech_blog_01.jpg" alt="" class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <small>16 اسفند 99</small>
                                        </div>
                                    </a>
                                 
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->
                    </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <h2 class="widget-title">
                                    آخرین پیام های کوتاه

                                </h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="upload/tech_blog_08.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="upload/tech_blog_01.jpg" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                      
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                        </div><!-- end col -->
                    
                    <div class="col-lg-4">
                        <div class="widget">
                            <div class="footer-text text-right">
                                <div class="widget">
                                    <h2 class="widget-title">ریاست جمهور کاندیدای محترم</h2>
                                    <div class="link-widget">
                                        <ul>
                                            <li><a href="#">درباره ما</a></li>
                                            <li><a href="#">تماس با ما</a></li>
                                            <li><a href="#">دسته بندی</a></li>
                                            <li><a href="#">ویدئو</a></li>
                                            <li><a href="#">انتخابات</a></li>
                                        </ul>
                                    </div><!-- end link-widget -->
                                </div><!-- end widget -->
                             
                                <hr class="invis">
                              
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div>
                    </div>
                <div class="divfooter"></div>
                <div class="row secfooter2">

                    <div class="col-lg-12 text-center">
                        <div class="row">
                            <div class="col-lg-4">


                                <h2 class="widget-title">
                                    کاندیدای محترم در شبکه های اجتماعی


                                </h2>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="فیسبوک"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="توییتر"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="اینستاگرام"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="گوگل پلاس"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="پینترس"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="copyright">تمامی حقوق برای<a href="#"> کاندیدای محترم </a>محفوظ است.</div>

                            </div>
                            <div class="col-lg-4">
                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer --><!-- end footer -->
        <div class="dmtop">بالا</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>