
 <!-- Site Metas -->
 <title>تماس با ما </title>


{%extends "newsapp/master.html"%}

{%block asli%}


     <!-- لود استاتیک -->
     {%load static%} 

     
       

<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-green"></i> تماس با ما <small class="hidden-xs-down hidden-sm-down"> .       ارسال پیام برای هفته نامه امین بختیاری   .</small></h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                    <li class="breadcrumb-item active">تماس</li>
                </ol>
            </div><!-- end col -->                    
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container my-custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper mainbox">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>لورم ایپسوم متن ساختگی با تولید ؟</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت انتخاباتی نماینده محترم</p>
           
                            <h4>برای شرایط فعلی تکنولوژی مورد نیاز؟</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت انتخاباتی نماینده محترم</p>
     
                            <h4>شرایط سخت تایپ به پایان رسد</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه سایت انتخاباتی نماینده محترم</p>
                        </div>
                        <div class="col-lg-7">
                            <form class="form-wrapper">
                                <input type="text" name="nam" class="form-control" placeholder="نام شما">
                                <input type="text" name="email" class="form-control" placeholder="پست الکترونیک">
                                <input type="text" name="tel" class="form-control" placeholder="شماره تماس">
                                <input type="text" name="onvan" class="form-control" placeholder="موضوع">
                                <textarea name="matn" class="form-control" placeholder="متن پیام شما"></textarea>
                                <button type="submit" class="btn btn-primary">ارسال <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>


    {%endblock%}