<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body style="direction:rtl">
    <p style="position: relative;    padding: 25px 25px;    border: 1px dashed #479f47;    margin-left: 15px;    margin-right: 15px;    background-color: #59B359;    text-align: center;    font-size: 20px;">
        قالب html  کاندیدای محترم برگرفته از سایت <b style="color:#479f47"> زومیت </b>با امکانات متفاوت و بی نظیر

    </p>

    <p>
        قالب html  فارسی و راست چین چند منظوره کاندیدای محترم برگرفته از سایت معروف و پر طرفدار <b style="color:#479f47"> زومیت </b>، این قالب به صورت کاملا راست چین و رسپانسیو با امکانات بی نظیر شورای شهر شده است ، که چندین امکان برتر از سایت <b style="color:#479f47"> زومیت </b>را دارد،  برخی از امکانات آن در زیر لیست شده است.

    </p>
  <p style="position: relative;    padding: 25px 25px;    border: 1px dashed #479f47;    margin-left: 15px;    margin-right: 15px;    background-color: #59B359;    text-align: center;    font-size: 20px;">
      برخی از امکانات قالب html راستچین کاندیدای محترم:

  </p>

    <dl>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">مگامنوی تصویری برای آخرین دسته ها</dt>
        <dd>- مگا منو همیشه ظاهر زیبایی به سایت میبخشه ، حال اینکه مگا منو قالب <b style="color:#479f47"> زومیت </b>   html  شامل تصاویری از آخرین پست ها می باشد.</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">رسپانسیو بودن ( قابل نمایش در تمامی صفحه نمایش ها)</dt>
        <dd>- در نظر گرفتن تمامی ابعاد نمایش گر و سازگاری با تمامی صفحه نمایش ها</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">افکت های زیبای تصاویر</dt>
        <dd>- افکت مربوط به تصایور ویدئو و همچنین هاعکس ها و نمایش متن روی عکس ها</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">پشتیبانی از دو ستون و سه ستونه بودن</dt>
        <dd>- صفحات دو و سه ستونه با ظاهر زیبا در قالب html سایت <b style="color:#479f47"> زومیت </b>و همچنین امکان تغییر آن به تک ستونه به راحتی وجود دارد ، چون این قالب اچ تی ام سایت <b style="color:#479f47"> زومیت </b>با bootstrap  شورای شهر شده است</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">مشخص بودن بخش های تبلیغات</dt>
        <dd>- در ستون های کناری و همچنین بین متون مکان هایی برای گرفتن تبلیغ قرار داده شده است</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">دسته بندی های مشخص شده به صورت برجست روی پست</dt>
        <dd>- روی هر پست در مگامنو و همچنین در بلاگ قالب فارسی کاندیدای محترم بخش تگ با رنگ زیبا مشخص شده است</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">امکان اسموت اسکرولینگ</dt>
        <dd>- امکانی که به صورت نرم حرکات بین صفحه ای را مشخص میکنم ، این امکان در اسکرول به سمت بالا قالب سازگار شده است</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">منو با گرفیک باز شونده کشویی</dt>
        <dd>- در سایت <b style="color:#479f47"> زومیت </b>منو ها بصورت خشک و با کلیک باید باز میشند ولی ما این نقص را برطرف کرده و منو ها بصورت هاور(دراگ ماوس روی منو)  باز میکنیم و همچنین با افکت نرم و زیبا</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">بخش هات منو با ظاهر زیبا</dt>
        <dd>- هات منو در واقع منویی است که در بالای منوی اصلی قرار دارد و این ایده در سایت <b style="color:#479f47"> زومیت </b>به این شکل بوده که پر بازدید ترین کلمات کلیدی در بالا لیست میشوند</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">اشتراک گذاری جوامع مجازی</dt>
        <dd>- دکمه هایی اشتراک در جوامع مجازی در قالب اچ تی ام ال فارسی زومیت</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">پیش نمایش ویدئو ها به صورت عکس و افکت پلی</dt>
        <dd>- پیش نمایش ویدئو در سایت مورد نظر به این شکل نیست و این گرافیک برای قالب html   فارسی شده کاندیدای محترم  به زیبایی آن افزوده است</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">صفحه  بسیار زیبا html  گالری ویدئو</dt>
        <dd>- ظاهر لیست ویدئو که به صورت پیش فرض تک ستونه در نظر گرفته ایم ولی امکان دو ستونه کردن  بر طبق قالب بوت استرپ بسیار راحت و سازگار میباشد</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">پیجینگ زیبا با افکت هاور</dt>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">صفحه مرتبط با لیست منو ها و دسته های بلاگ</dt>

        <dd>- بخش کته گوری (دسته بندی های قالب سایت کاندیدای محترم) با ظاهر زیبا و دو ستونه</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">صفحه مرتبط با نویسنده و لیست کردن نتایج پست گذاری آن</dt>
        <dd>- برای هر نویسنده در سایت <b style="color:#479f47"> زومیت </b>صفحه ای در نظر گرفته شده، همانطوری که برای خیلی از قالب های وردپرس در نظر گرفته میشود، ظاهر سایت کاندیدای محترم با لحاظ کردن گرافیک بصری در قالب Html  ظاهر متفاوت تری را در نظر گفته است</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">جزئیات پس و امکان لینک گذاری داخلی و  تصاویر درون متنی</dt>
        <dd>- امکان عکس گذاری در داخل متون به صورت دو ستونه و همچنین تصاویر بزرگ بین متنی</dd>

        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">ظاهر زیبای ارسال نظر و نمایش نظرات</dt>
        <dd>-     o	در پایین هر پست و صفحه جزئیات آن امکان ارسال نظر و همچنین نظر اعضا وجود دارد
</dd>
        <dt style="padding: 15px; color: #f14a4a; font-weight: 800;">و امکانات دیگر که در پیش نمایش سایت واضح و مشخص است</dt>

    </dl>
 
 



</body>
</html>
