{%extends "newsapp/master.html"%}


{%block asli%}


<!-- لود استاتیک -->
{%load static%}



        <section class="section first-section">
            <div class="container">
                <div id="demo" class="carousel slide " data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

            <!-- The slideshow -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{%static 'newsapp/upload/slider_01.jpg ' %}" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="{%static 'newsapp/upload/slider_02.jpg ' %}" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="{%static 'newsapp/upload/slider_03.jpg ' %}" class="img-fluid">
                </div>
            </div>


                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container my-custom-container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="sidebar">
                            <div class="widget widgetbox">
                                <h4 class="lists_title">دیگر رسانه ها
</h4>

                                <div class="trend-videos">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_menu_01.jpg ' %}" alt="" class="img-fluid">
                                              
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <p><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></p>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_menu_02.jpg ' %}" alt="" class="img-fluid">
                                           
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <p><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></p>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_menu_03.jpg ' %}" alt="" class="img-fluid">
                                                
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <p><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></p>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_menu_04.jpg ' %}" alt="" class="img-fluid">

                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <p><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></p>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_menu_04.jpg ' %}" alt="" class="img-fluid">

                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <p><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></p>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_menu_06.jpg ' %}" alt="" class="img-fluid">

                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <p><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a></p>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end videos -->
                            </div><!-- end widget -->
                            <!-- end widget -->
                        
                          
                         
                            
                        </div><!-- end sidebar -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="page-wrapper mainbox">
                            <div class="blog-top clearfix">
                                <h4 class="lists_title"> <a href="#"></a>آخرین اخبار</h4>
                            </div><!-- end blog-top -->
                        <br />

                           
                            <div class="blog-list clearfix">
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_01.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">انتخابات</a></small>
                                        <small><a href="single.html" title="">12 بهمن 98</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">نرم‌افزار و اپلیکیشن</a></small>
                                        <small><a href="single.html" title="">12 بهمن 98</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">توسعه</a></small>
                                        <small><a href="single.html" title="">18 فروردین 1400</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 2313</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                             

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">شورای شهر</a></small>
                                        <small><a href="single.html" title="">18 فروردین 1400</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 4441</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_05.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">ریاست جمهور</a></small>
                                        <small><a href="single.html" title="">1 فروردین 99</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 33312</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_06.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">انتخابات</a></small>
                                        <small><a href="single.html" title="">5 فروردین 99</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 4440</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_07.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">نرم‌افزار و اپلیکیشن</a></small>
                                        <small><a href="single.html" title="">20 فروردین 99</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_08.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">اقتصاد</a></small>
                                        <small><a href="single.html" title="">25 فروردین 99</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 44123</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_09.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">نرم‌افزار و اپلیکیشن</a></small>
                                        <small><a href="single.html" title="">2 فروردین 99</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 2214</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_blog_10.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی </a></h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر</p>
                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">انتخابات</a></small>
                                        <small><a href="single.html" title="">12 فروردین 99</a></small>
                                        <small><a href="author.html" title="">مدیر سایت</a></small>
                                        <small><a href="single.html" title=""><i class="fa fa-eye"></i> 3331</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            
                                <hr class="invis">
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">صفحه بعد</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
                        <div class="sidebar  pad0"   >
                       
                            <div class="widget widgetbox">
                                <h2 class="lists_title">آخرین ویدئو ها</h2>
                                <div class="trend-videos">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_video_01.jpg ' %}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_video_02.jpg ' %}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{%static 'newsapp/upload/tech_video_03.jpg ' %}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end videos -->
                            </div>
                              

                            <div class="widget widgetbox" >
                                <h4 class="lists_title">پاسخ به شایعات</h4>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_08.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_01.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_04.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_05.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_06.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_07.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <small>16 اسفند 99</small>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                      
                         
                            <div class="widget widgetbox">
                                <h4 class="lists_title">آخرین نظرات
</h4>
                                <div class="blog-list-widget ">
                                    <div class="list-group">
                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_02.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>

                                        <a href="single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 last-item justify-content-between">
                                                <img src="{%static 'newsapp/upload/tech_blog_07.jpg' %}" alt="" class="img-fluid float-right">
                                                <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                          
                         
                          
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



{%endblock%}